*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#container{
    width: 70%;
    margin: 0px auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

header{
    background-color: red;
    border-bottom: 3px dashed black;
    color: white;
    text-align: center;
    padding: 30PX;
}

nav{
    background-color: lightblue;
    border-bottom: 1px solid black;
}

ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

li{
    padding: 10px;
}

#principal{
    display: flex;
    flex-direction: row;
}

#content{
    background-color: green;
    width: 80%;
    height: 500px;
    padding: 40px;
}

.articule{
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;

}

.articule:first-child{
    padding-top:10px;
    border-top: 1px solid #eee;
}

.articule h2{
    font-size: 25px;
}

aside{
    background-color: orange;
    flex-basis: 20%;
    height: 530px;
    padding: 40px 10px 10px;
    color: black;
  
}

aside h2{
    padding-bottom: 7px;
}

form{
    display: flex;
    flex-direction: column;
}

footer{
    background-color: black;
    height: 40px;
    text-align: center;
    line-height: 40px;
}